# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# IntelliJ IDEA #
.idea
*.iws
*.iml
*.ipr
target/*
target/
/*/target/
/*/**/target/
/.vscode/
/ubax-framework/*/target/
./dependency-reduced-pom.xml

# frontend #
ubax-ui/node_modules/*
ubax-ui/package-lock.json
ubax-ui/pnpm-lock.yaml
ubax-ui/src/types/auto-components.d.ts
ubax-ui/src/types/auto-imports.d.ts